body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: purple;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282c35;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: hotpink;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.react-toggle-track .react-toggle-track-x {
  height: 2px;
  left: 27px;
  color: #ffffff;
}

.react-toggle-track .react-toggle-track-check {
  height: 2px;
  left: 5px;
}

.react-toggle-track {
  background-color: #4d4d6d !important;
}

.react-toggle-track:hover {
  background-color: #3d3d5d !important;
}
